body
{

	background-color: #b7adad;
	font-family: 'Abhaya Libre';
	color:black;
}

.page-container
{
	position: fixed;
	top: 2rem;
	bottom: 2rem;
	left: 2rem;
	right: 2rem;
	overflow-x: hidden;
	overflow-y: auto;

	border-radius: 10vmin;
	box-shadow: 0rem 0rem 1.5rem 1.5rem #00000011;
}

.page-content
{
	width: 100%;
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}


.title-link-container
{
	font-family: 'Marck Script';
	display:flex;
	flex-direction: row;
	flex-flow: row;
	justify-content: center;
	width:100%;
	margin-bottom: 2rem;
}

.title-link
{
	transition: all 0.5s ease-in-out;
	color: #000000aa;
	transform: translate(0rem,0rem);
	border-bottom:#00000000 solid 1px;
	
	text-align: center;
	display:inline-block;
	font-size:1.8rem;
	padding-top:0.02rem;
	padding-bottom:0.02rem;
	cursor: pointer;
	letter-spacing: 0.1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
.title-link:hover
{
	transition: all 0.1s ease-in-out;
	color: #000000ff;
	transform: translate(0rem,-0.35rem);
	border-bottom: #000000ff solid 1px;
}

.title-link-current, .title-link-current:hover
{
	transition: all 0.1s ease-in-out;
	transform: translate(0rem,-0.5rem);
	color: #873737FF;
	border-bottom: #873737FF solid 1px;
	pointer-events: none;
	cursor: default;
}


.body-long-title
{
	display:inline;
	text-align: left;
	font-size:1.2rem;
}

.body-long
{
	letter-spacing:0.05rem;
	text-align: center;
	font-size:1.2rem;
}